<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>banner</key>
<dict>
<key>frame</key>
<string>{{2,2},{520,104}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,11},{520,104}}</string>
<key>sourceSize</key>
<string>{520,120}</string>
</dict>
<key>bar_fill</key>
<dict>
<key>frame</key>
<string>{{2,112},{80,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{80,28}}</string>
<key>sourceSize</key>
<string>{80,28}</string>
</dict>
<key>bar_frame</key>
<dict>
<key>frame</key>
<string>{{2,462},{120,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{120,40}}</string>
<key>sourceSize</key>
<string>{120,40}</string>
</dict>
<key>btn_blue</key>
<dict>
<key>frame</key>
<string>{{2,572},{200,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{200,84}}</string>
<key>sourceSize</key>
<string>{200,84}</string>
</dict>
<key>btn_green</key>
<dict>
<key>frame</key>
<string>{{208,572},{200,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{200,84}}</string>
<key>sourceSize</key>
<string>{200,84}</string>
</dict>
<key>card_bg</key>
<dict>
<key>frame</key>
<string>{{462,232},{160,160}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,160}}</string>
<key>sourceSize</key>
<string>{160,160}</string>
</dict>
<key>card_ring</key>
<dict>
<key>frame</key>
<string>{{462,398},{160,160}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,160}}</string>
<key>sourceSize</key>
<string>{160,160}</string>
</dict>
<key>crown</key>
<dict>
<key>frame</key>
<string>{{414,572},{120,81}}</string>
<key>offset</key>
<string>{0,1.5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{120,81}}</string>
<key>sourceSize</key>
<string>{120,84}</string>
</dict>
<key>emblem_ally</key>
<dict>
<key>frame</key>
<string>{{462,112},{60,70}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{60,70}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>emblem_orc</key>
<dict>
<key>frame</key>
<string>{{2,146},{60,70}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{60,70}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>hand</key>
<dict>
<key>frame</key>
<string>{{628,232},{96,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{96,115}}</string>
<key>sourceSize</key>
<string>{96,115}</string>
</dict>
<key>icon_archer</key>
<dict>
<key>frame</key>
<string>{{528,2},{224,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{224,224}}</string>
<key>sourceSize</key>
<string>{224,224}</string>
</dict>
<key>icon_footman</key>
<dict>
<key>frame</key>
<string>{{758,2},{224,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{224,224}}</string>
<key>sourceSize</key>
<string>{224,224}</string>
</dict>
<key>icon_gryphon</key>
<dict>
<key>frame</key>
<string>{{2,232},{224,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{224,224}}</string>
<key>sourceSize</key>
<string>{224,224}</string>
</dict>
<key>icon_knight</key>
<dict>
<key>frame</key>
<string>{{232,112},{224,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{224,224}}</string>
<key>sourceSize</key>
<string>{224,224}</string>
</dict>
<key>icon_mage</key>
<dict>
<key>frame</key>
<string>{{232,342},{224,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{224,224}}</string>
<key>sourceSize</key>
<string>{224,224}</string>
</dict>
<key>pill</key>
<dict>
<key>frame</key>
<string>{{2,508},{96,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{96,44}}</string>
<key>sourceSize</key>
<string>{96,44}</string>
</dict>
<key>white</key>
<dict>
<key>frame</key>
<string>{{733,515},{8,8}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{8,8}}</string>
<key>sourceSize</key>
<string>{8,8}</string>
</dict>
<key>snd_off</key>
<dict>
<key>frame</key>
<string>{{128,462},{96,96}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{96,96}}</string>
<key>sourceSize</key>
<string>{96,96}</string>
</dict>
<key>snd_on</key>
<dict>
<key>frame</key>
<string>{{540,564},{96,96}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{96,96}}</string>
<key>sourceSize</key>
<string>{96,96}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>ui_atlas.png</string>
<key>size</key>
<string>{1020,674}</string>
<key>textureFileName</key>
<string>ui_atlas.png</string>
</dict>
</dict>
</plist>
